*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
  }

html body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

.container{
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.primary-text{
    color: aqua;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #FFF;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #F7C08A;
    color: #333;
}

.btn-light{
    background:#F4F4F4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #FFF;
}

.bg-light{
    background: #F4F4F4;
    color: #333;
}

.bg-primary{
    background: #F7C08A;
    color: #333;
}

.clr{
    clear: both;
}

.left-heading{
    font-size: 40px;
}

.py-1{ padding: 10px 0; }
.py-2{ padding: 20px 0; }
.py-3{ padding: 30px 0; }

#navbar{
    background: #333;
    color: #FFF;
    overflow: auto;
}

#navbar a{
    color: #FFF;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #F7C08A;
}

#showcase{
    background:url('../images/rock.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .content-showcase{
    color: #FFF;
    text-align: center;
    padding-top: 170px;
}

#showcase .content-showcase h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .content-showcase p{
    padding-bottom: 20px;
    line-height: 1.2em;
}

#home-info{
    height: 400px;
}

#home-info .image-info{
    float: left;
    width: 50%;
    background: url('../images/ocean.jpg') no-repeat;
    min-height: 100%;
}

#home-info .content-info{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .content-info p{
    padding-bottom: 30px;
}

.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 10px;
}

#info-about .right-info{
    float: right;
    width: 50%;
    min-height: 100%;
}

#info-about .right-info img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#info-about .left-info{
    float: left;
    width: 50%;
    min-height: 100%;
}

#review{
    height: 600px;
    background: url('../images/morning.jpg') no-repeat center center/cover;
    padding-top: 100px;
}

#review h2{
    color: #FFF;
    text-align: center;
    padding-bottom: 40px;
}

#review .reviews{
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

#review .reviews img{
    width: 90px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#footer-main{
    text-align: center;
    background: grey;
    color: #FFF;
    padding: 20px;
}

.container_header{
    padding: 1rem 1rem 5rem 1rem;
}

.header_image_container{
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(44,56,85,.9),rgba(100,125,187,.1)),url("../images/sun.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.content_header{
    max-width: 600px;
    padding: 5rem 2rem;
}

.content_header h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.content_header p{
    color: var(--extra-light);
}

.container_booking{
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.container_booking form{
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.container_booking .group_input{
    width: 100%;
    position: relative;
}

.container_booking label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}

.container_booking input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

.container_booking input:focus ~ label{
    font-size: 0.8rem;
    top: 0;
}

.container_booking .group_form p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}

.booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: #FFF;
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
 }

 .section__header h2    {
    background: linear-gradient(aqua, blue, cyan);
 }

 .popular__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background: linear-gradient(aqua, blue, cyan);
  }
  
  .popular__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: cyan;
  }
  
  .popular__content {
    padding: 1rem;
  }
  
  .popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .popular__content p {
    color: var(--text-light);
  }

  .section__header h2{
    background: linear-gradient(aqua, white, lightblue);
  }
  
  .travellers__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background: linear-gradient(aqua, white, lightblue);

  }
  
  .travellers__card {
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(aqua, white, lightblue);
  }
  
  .travellers__card__content {
    position: relative;
    padding: 1rem;
    text-align: center;
  }
  
  .travellers__card__content img {
    position: absolute;
    max-width: 10%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--extra-light);
    border-radius: 100%;
  }
  
  .travellers__card__content h4 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .travellers__card__content p {
    font-weight: 500;
    color: var(--text-light);
  }
  


  


  